<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Mi Rutina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-controles">
        <button class="btn-home" onclick="irInicio()">🏠</button>
        <select id="selector-semana" class="select-semana" onchange="recargarDia()"></select>
    </div>

    <div class="dias-container">
        <button onclick="cargarRutina('Lunes')">Lunes</button>
        <button onclick="cargarRutina('Martes')">Martes</button>
        <button onclick="cargarRutina('Miercoles')">Miercoles</button>
        <button onclick="cargarRutina('Jueves')">Jueves</button>
        <button onclick="cargarRutina('Viernes')">Viernes</button>
    </div>
    
    <div id="rutina" class="rutina-container">Selecciona un dia</div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>